<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/layout">
<head>
    <meta charset="utf-8">
    <title>walkList</title>

    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" th:href="@{/static/css/community/mateList.css}">
    <link rel="stylesheet" th:href="@{/static/css/fragments/footer.css}">
    <link rel="stylesheet" th:href="@{/static/css/fragments/acceptNavi.css}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=82d53b34ae33c2d246749cbfaaeeb3e6&libraries=services"></script>


</head>
<body>
<th:block layout:fragment="content">
<div class="main_container">
    <header class="menu">
        <th:block>
            <h1><img src="/static/img/logo.png" style="width: 110px; margin-left: -20px;"></h1>
        </th:block>

        <div><a href="/community/sos">응급실</a></div>
        <div><a href="/community/freeboard">밥줘게시판</a></div>
        <div><a href="/community/walkmate" style="color:#f07635;">산책메이트</a></div>
    </header>
    <br>


    <section>
        <div class="id" id="w_seq">
            <table style="width: 100%;">
                <tr style="width:100%;">
                    <td th:text="${walk.uAlias}" style="text-align:left;"></td>
                    <td th:text="${walk.wUploadTime}" style="text-align: right;"></td>
                </tr>
            </table>
        </div>



        <div class="map" id="map">
        </div>
        <script th:inline="javascript">
        /*<![CDATA[*/

                <!-- geolocation 작동 확인 -->
                if(navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(pos) {

                        <!-- 현재 위치 좌표값 get -->
                        var latlng = /*[[${walk.wLatlng}]]*/;
                        var latlngS = latlng.split("/");

                        <!-- 지도를 현재 위치로 세팅 후 출력 -->
                        var mapContainer = document.getElementById('map');
                        var mapOptions = {
                            center: new kakao.maps.LatLng(latlngS[0], latlngS[1]),
                            level: 5
                        };
                        var map = new kakao.maps.Map(mapContainer, mapOptions);

                        <!-- 현재 내위치 마커 추가 -->
                        var myMarker = new kakao.maps.Marker({
                            map: map,
                            position: mapOptions.center
                        });
                    });
                } else {
                    alert("geolocation을 지원하지 않습니다.");
                }
        /*]]>*/
        </script>








        <div class="time" style="text-align: center;">
            산책시간대 |
            <span th:if="${walk.wTime == 0}" style="font-size:20pt;">◷</span>
            <span th:if="${walk.wTime == 1}" style="font-size:20pt;">◶</span>
            <span th:if="${walk.wTime == 2}" style="font-size:20pt;">◵</span>
            <span th:if="${walk.wTime == 3}" style="font-size:20pt;">◴</span>
        </div>





        <div class="info">
            이름 : <span th:text="${animal3.a3Nick}"></span><br>
            생년월일 : <span th:text="${animal3.a3Birth}"></span><br>
            종 : <span th:text="${walk.a2Species}"></span><br>
        </div>
        <div class="memo" th:utext="${walk.wContent}"/>


        <table class="button">
            <tr>
                <td>
                    <form action="/community/walkmate" method="get">
                        <input type="submit" class="btnCancel" value="목록"/>
                    </form>
                </td>
                <td>
                    <form action="/community/walkmate/" th:attrappend="action=${walk.wSeq}" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input type="submit" class="btnCancel2" value="삭제" th:if="${walk.uSeq == user.uSeq}"/>
                    </form>
                </td>
                <td>
                    <form method="get" action="/put" th:attrprepend="action=${walk.wSeq}">
                        <input type="submit" class="btnWrite" value="신청" th:unless="${walk.uSeq == user.uSeq}"/>
                    </form>
                </td>
            </tr>
        </table>
    </section>
</div>
</th:block>
<th:block layout:fragment="naviFragment">
    <navigator>
        <!-- 알림창 보이게 하는 버튼 -->
        <button id="naviO" onclick="toBig()" style="display: block;box-shadow: 0 0 5px gray;"><img src="/static/img/walkmate.png" style="width:40px; margin-top:7px;"></button>
        <script>
            function toBig() {
                document.getElementById("float_container").style.display = 'block';
                document.getElementById("naviO").style.display = 'none';
            }
        </script>




        <!-- 메인화면 옆 오른쪽 플로팅 창 -->
        <div class="float_container" id="float_container" style="display:none;">


            <div class="naviAlert">
                <th:block class="walkmateList" th:unless="${walkmateList == null}">
                    <th:block th:if="${#lists.size(walkmateList)} > 0" th:each="walkmate:${walkmateList}">
                        <h3>산책메이트 신청이 왔어요!</h3>

                        <!-- 신청 총 몇건 인지 띄우는 자바스크립트 -->
                        <sub>총 <span th:text="${#lists.size(walkmateList)}"></span>개</sub>


                        <!-- 신청 화면 반복 -->
                        <th:block th:unless="${walkmate.proposeAlias == null or walkmate.proposeAlias == ''}">
                            <div class="alertSet">
                                <div class="naviInfo">
                                    <!-- th: 신청회원번호 "w_propose" 받아와서 회원번호"u_seq"로 닉네임 불러오기 -->
                                    <p id="naviA3_nick" th:text="${walkmate.proposeAlias}"><b>닉네임</b></p>
                                    <p id="naviCont">
                                        <span th:text="${walkmate.a3Nick}"></span>(<span th:text="${walkmate.a2Species}"></span>)<br>
                                        <span id="naviMessage" th:text="${walkmate.wmContent}">메시지 로딩 중</span>

                                    </p>
                                    <!-- th: 자바스크립트로 해당 객체 접근 후, 닉네임 등등 불러오고
                                         메이트 성사여부"w_res" 판단 후 산책메이트 번호"w_seq" 부여 -->
                                </div>
                            </div>

                            <!-- 거절, 수락 버튼 -->
                            <table class="naviButton" style="width:100%;">
                                <tr style="width:100%;">
                                    <td>
                                        <form action="/walkmate/refuse/" th:attrappend="action=${walkmate.wmSeq}" method="post">
                                            <input type="hidden" name="_method" value="delete">
                                            <input type="submit" class="btnRefuse" value="거절">
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/walkmate/permit/" th:attrappend="action=${walkmate.wmSeq}" method="post">
                                            <input type="hidden" name="_method" value="put">
                                            <input type="submit" class="btnPermit" value="수락">
                                        </form>
                                    </td>
                                </tr>
                            </table>

                        </th:block>
                    </th:block>

                    <th:block th:if="${#lists.size(walkmateList)} == 0">받은 산책메이트 신청이 없습니다</th:block>
                </th:block>
            </div>

            <!-- 알림창 안 보이게 하는 버튼 -->
            <button id="naviX" onclick="toSmall()">x</button>
            <script>
                function toSmall() {
                    document.getElementById("float_container").style.display = 'none';
                    document.getElementById("naviO").style.display = 'block';
                }
            </script>

        </div>
    </navigator>
</th:block>
</body>
</html>
