<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/layout">
  <head>
    <meta charset="utf-8">
    <title>community_boardWriting</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" th:href="@{/static/css/community/boardWriting.css}">
    <link rel="stylesheet" th:href="@{/static/css/fragments/footer.css}">
    <link rel="stylesheet" th:href="@{/static/css/fragments/acceptNavi.css}">
    <script src="/static/ckeditor/ckeditor.js"></script>
  </head>

  <body>
    <th:block layout:fragment="content">
      <div class="main_container">
        <!--로고 사진 넣기-->
        <th:block>
          <div id="myBlank"> </div>
          <h1>BOBJO</h1>
        </th:block>

        <br>
        <!-- 게시판 카테고리 선택 -->
        <div class="category">
          <input type="radio" name="cateChoose" id="0" value="0" onclick="choose(0)"><label for="0" id="00">자유로운글</label>
          <input type="radio" name="cateChoose" id="1" value="1" onclick="choose(1)"><label for="1" id="11">사료/간식</label>
          <input type="radio" name="cateChoose" id="2" value="2" onclick="choose(2)"><label for="2" id="22">장난감</label>
          <input type="radio" name="cateChoose" id="3" value="3" onclick="choose(3)"><label for="3" id="33">정보 공유</label>
        </div>

        <div class="content">
          <form class="" action="/community/freeboard/" th:attrappend="action=${board.bSeq}" method="post">
            <input type="hidden" name="_method" value="put">
            <input type="hidden" name="bCate" id="bCate" th:value="${board.bCate}">
            <input type="hidden" name="bSeq" th:value="${board.bSeq}">

            <!-- 제목 -->
            <input type="text" class="input" id="b_title" name="bTitle" placeholder="제목을 입력해주세요." required
            th:value="${board.bTitle}"><br><br>

            <!-- 사진첨부 -->
            <input type="file" class="input" id="b_pic" name="bImage" accept="image/png, image/jpeg" value="사진"><br><br>

            <!-- 내용 -->
            <textarea class="textarea" id="b_cont" name="bContent" placeholder="내용을 입력해주세요." required
            th:utext="${board.bContent}"></textarea><br><br>

            <!-- 취소 / 등록 (취소버튼 누르면 글 목록 페이지로 이동 / 등록버튼 누르면 게시글 작성 ) -->
            <div class="button"><br>
              <button type="submit" class="btnWrite "name="">수정</button>
            </div>
          </form>
        </div>
      </div>
    </th:block>
  </body>
</html>
<script>
  CKEDITOR.replace("b_cont");

  window.onload = function() {
    var number = document.getElementById("bCate").value;

    number = String(number) + String(number);

    document.getElementById(number).style.background="#115a30";
    document.getElementById(number).style.color="#fff";
  }

  function choose(number) {

    numbers = ['00', '11', '22', '33'];
    number10 = String(number) + String(number);

    numbers.splice(number, 1);

    // 아닌 라벨 원래대로
    for(var i=0; i<3; i++) {
      document.getElementById(numbers[i]).style.background="rgb(220, 220, 220)";
      document.getElementById(numbers[i]).style.color="#333";
    }

    // 특정 라벨 선택
    document.getElementById(number10).style.background="#115a30";
    document.getElementById(number10).style.color="#fff";

    // bCate value 넣어주기
    document.getElementById("bCate").value = number;
  }
</script>