<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/layout">
<head>
  <meta charset="UTF-8">
  <title>manage_myboard</title>
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <link rel="stylesheet" th:href="@{/static/css/mypage/mypage.css}">
  <link rel="stylesheet" th:href="@{/static/css/fragments/footer.css}">
  <link rel="stylesheet" th:href="@{/static/css/fragments/acceptNavi.css}">

</head>
<body>

<th:block layout:fragment="content">
  <!-- main container -->
  <div class="main_container">

    <!-- header -->
    <header class="menu">
      <th:block>
        <img src="/static/img/out.png" id="out" style="height:20px; width:20px; position: absolute; right: 30px; top:30px;" th:onclick="|location.href='@{/logout}'|">
        <h1><img src="/static/img/logo.png" style="width: 110px; margin-left: -20px;"></h1>
      </th:block>
      <div><a href="/mypage/privacy" style="font-size:12pt;">개인정보수정</a></div>
      <div><a href="/mypage/myboard" style="font-size:12pt;">작성글관리</a></div>
      <div><a href="/mypage/walkmate" style="color:#f07635; font-size:12pt;">메이트관리</a></div>
      <div><a href="/mypage/asking" style="font-size:12pt;">문의하기</a></div>
    </header>


    <hr><br>
    <section>
      <section style="margin-top:150px;">
        <div style="width: 100%; text-align: center;">
          <img src="/static/img/telephone.png" style="width:200px; height:200px;"><br><br>
          <th:block th:if="${walkmate.wmPropose == user.uSeq}">
            <span th:text="${walkmate.acceptAlias}"></span>님의 연락처는<br>
            <div th:text="${walkmate.acceptNumber}" style="font-size:15pt; color: #61876E;"></div>
          </th:block>
          <th:block th:if="${walkmate.wmAccept == user.uSeq}">
            <span th:text="${walkmate.proposeAlias}"></span>님의 연락처는<br>
            <div th:text="${walkmate.proposeNumber}" style="font-size:15pt; color:#61876E;"></div>
          </th:block>
          <span>입니다</span>
          <br><br>

          <form action="/mypage/walkmate" method="get">
            <input type="submit" value="메이트 관리로 이동" style="background:white;">
          </form>
          <form action="/mypage/walkmate/" th:attrappend="action=${walkmate.wmSeq}" method="post">
            <input type="hidden" name="_method" value="put">
            <input type="submit" value="메이트 종료" style="background:#fa5162; color:white;">
          </form>
        </div>
      </section>
    </section>

  </div>
</th:block>
<th:block layout:fragment="naviFragment">
  <navigator>
    <!-- 알림창 보이게 하는 버튼 -->
    <button id="naviO" onclick="toBig()" style="display: block;box-shadow: 0 0 5px gray;"><img src="/static/img/walkmate.png" style="width:40px; margin-top:7px;"></button>
    <script>
            function toBig() {
                document.getElementById("float_container").style.display = 'block';
                document.getElementById("naviO").style.display = 'none';
            }
        </script>




    <!-- 메인화면 옆 오른쪽 플로팅 창 -->
    <div class="float_container" id="float_container" style="display:none;">


      <div class="naviAlert">
        <th:block class="walkmateList" th:unless="${walkmateList == null}">
          <th:block th:if="${#lists.size(walkmateList)} > 0" th:each="wm:${walkmateList}">
            <h3>산책메이트 신청이 왔어요!</h3>

            <!-- 신청 총 몇건 인지 띄우는 자바스크립트 -->
            <sub>총 <span th:text="${#lists.size(walkmateList)}"></span>개</sub>


            <!-- 신청 화면 반복 -->
            <th:block th:unless="${wm.proposeAlias == null or wm.proposeAlias == ''}">
              <div class="alertSet">
                <div class="naviInfo">
                  <!-- th: 신청회원번호 "w_propose" 받아와서 회원번호"u_seq"로 닉네임 불러오기 -->
                  <p id="naviA3_nick" th:text="${wm.proposeAlias}"><b>닉네임</b></p>
                  <p id="naviCont">
                    <span th:text="${wm.a3Nick}"></span>(<span th:text="${wm.a2Species}"></span>)<br>
                    <span id="naviMessage" th:text="${wm.wmContent}">메시지 로딩 중</span>

                  </p>
                  <!-- th: 자바스크립트로 해당 객체 접근 후, 닉네임 등등 불러오고
                       메이트 성사여부"w_res" 판단 후 산책메이트 번호"w_seq" 부여 -->
                </div>
              </div>

              <!-- 거절, 수락 버튼 -->
              <table class="naviButton" style="width:100%;">
                <tr style="width:100%;">
                  <td>
                    <form action="/walkmate/refuse/" th:attrappend="action=${walkmate.wmSeq}" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <input type="submit" class="btnRefuse" value="거절">
                    </form>
                  </td>
                  <td>
                    <form action="/walkmate/permit/" th:attrappend="action=${walkmate.wmSeq}" method="post">
                      <input type="hidden" name="_method" value="put">
                      <input type="submit" class="btnPermit" value="수락">
                    </form>
                  </td>
                </tr>
              </table>

            </th:block>
          </th:block>

          <th:block th:if="${#lists.size(walkmateList)} == 0">받은 산책메이트 신청이 없습니다</th:block>
        </th:block>
      </div>

      <!-- 알림창 안 보이게 하는 버튼 -->
      <button id="naviX" onclick="toSmall()">x</button>
      <script>
                function toSmall() {
                    document.getElementById("float_container").style.display = 'none';
                    document.getElementById("naviO").style.display = 'block';
                }
            </script>

    </div>
  </navigator>
</th:block>
</body>
</html>