<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diary_friend</title>

    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" th:href="@{/static/css/diary/diarySchedule2.css}">
    <link rel="stylesheet" th:href="@{/static/css/fragments/footer.css}">
    <link rel="stylesheet" th:href="@{/static/css/fragments/acceptNavi2.css}">


</head>
<body>
<th:block layout:fragment="content">
    <div class="main_container">
        <!-- 헤더 -->
        <header>
            <th:block>
                <h1><img src="/static/img/logo.png" style="width: 110px; margin-left: -20px;"></h1>
            </th:block>
            <div><a href="/diary">성장일기</a></div>
            <div><a href="/diary/schedule">일정</a></div>
            <div><a href="/diary/friend" style="color: #f07635;">친구</a></div>
        </header> 
<section>
    <div class="friend">
        <button class="moveHorizontal" onclick="rightFunction()"><</button>
        <div class="friendList" id="friendList">
            <th:block th:unless="${friendList2 == null}">
                <th:block th:if="${#lists.size(friendList2)} > 0" th:each="friend:${friendList2}">
                    <div class="u_alias" th:text="${friend.uAlias}" th:id="${friend.uSeq}" th:unless="${friend.uAlias == null}" onclick="changeFriend(this.id)"></div>
                </th:block>
            </th:block>
        </div>
        <button class="moveHorizontal" onclick="leftFunction()">></button>
        <input type="hidden" id="checkFriend" value="-1">
    </div>
        <!-- 달력 -->
        <div id="calendarForm">

        </div>


        <br>
        <!-- 날짜를 클릭했을때 나오는 일정 -->
        <div class="scheduleList" id="scheduleList">
        </div>

        <script th:inline="javascript">
            /*<![CDATA[*/

            function leftFunction() {
                document.getElementById("friendList").scrollLeft += 100;
            }

            function rightFunction() {
                document.getElementById("friendList").scrollLeft -= 100;
            }

            function changeFriend(id) {
                document.getElementById("checkFriend").value = id;
                document.getElementById("scheduleList").innerHTML = "";
            }

            function resetSchedule() {
                document.getElementById("scheduleList").innerHTML = "";
            }

            function changeSchedule(now) {

                // 친구 값 가져오기
                var friendSeq = document.getElementById("checkFriend").value;

                /*[# th:each = "friendCalendar : ${friendsCalendarList}"]*/

                var sdate = /*[[${friendCalendar.cSdate}]]*/;
                var edate = /*[[${friendCalendar.cEdate}]]*/;
                var title = /*[[${friendCalendar.cTitle}]]*/;
                var cate = /*[[${friendCalendar.cCate}]]*/;

                var uSeq = /*[[${friendCalendar.uSeq}]]*/;

                sdate = sdate.split(" ");
                edate = edate.split(" ");

                sdate[1] = sdate[1].substring(0,5);
                edate[1] = edate[1].substring(0,5);

                var cateInput = '&nbsp;';

                if (cate == 0) {
                    cateInput = '<span class="cateBtn" style="background: #f2725d">병원</span>&nbsp;'
                } else if (cate == 1) {
                    cateInput = '<span class="cateBtn" style="background: #fccf4b">약</span>&nbsp;'
                } else if (cate == 2) {
                    cateInput = '<span class="cateBtn" style="background: #ffff50">미용</span>&nbsp;'
                } else if (cate == 3) {
                    cateInput = '<span class="cateBtn" style="background: #aff7b6">목욕</span>&nbsp;'
                } else if (cate == 4) {
                    cateInput = '<span class="cateBtn" style="background: #93ecf8">산책</span>&nbsp;'
                } else if (cate == 5) {
                    cateInput = '<span class="cateBtn" style="background: #ddaaff">모임</span>&nbsp;'
                } else if (cate == 6) {
                    cateInput = '<span class="cateBtn" style="background: #ffaaff">기타</span>&nbsp;'
                }

                var sdateSplit = sdate[0].split("-");
                sdateSplit[1] = sdateSplit[1].replace('0', '');
                sdate[0] = sdateSplit[0] + '-' + sdateSplit[1] + '-' + sdateSplit[2]

                if (now == sdate[0] && friendSeq == uSeq) {
                    var code = '<div class="schedule">'
                    + cateInput
                    + '<span id="c_sdate">' + sdate[1] + '</span> ~ '
                    + '<span id="c_edate">' + edate[1] + '</span>'
                    + '<div class="c_title">' + title + '</div>'
                    + '</div>'

                    document.getElementById("scheduleList").innerHTML += code;
                }
                /*[/]*/
            }
            /*]]>*/
        </script>



        </section>

        <!-- 친구추가버튼 -->
        <a href="/diary/friend/follow" id="plusButton" style="position: fixed; bottom: 90px; right: 50%; transform: translateX(220px);">
            <img src="/static/img/btn2.png"></a>
       



    <!-- 풋터 -->
        <footer>
            <div>
                <i class="xi-home"></i>
                <P>다이어리</P>
            </div>
            <div>
                <i class="xi-forum"></i>
                <p>커뮤니티</p>
            </div>
            <div>
                <i class="xi-heart"></i>
                <p>분양</p>
            </div>
            <div>
                <i class="xi-profile"></i>
                <p>마이페이지</p>
            </div>
        </footer> 
    </div>


    <script type="text/javascript" th:src="@{/static/js/jquery.js}"></script>

</th:block>

<th:block layout:fragment="naviFragment">
    <navigator>
        <!-- 알림창 보이게 하는 버튼 -->
        <button id="naviO" onclick="toBig()" style="display: block;box-shadow: 0 0 5px gray;"><img src="/static/img/walkmate.png" style="width:40px; margin-top:7px;"></button>
        <script>
            function toBig() {
                document.getElementById("float_container").style.display = 'block';
                document.getElementById("naviO").style.display = 'none';
            }
        </script>




        <!-- 메인화면 옆 오른쪽 플로팅 창 -->
        <div class="float_container" id="float_container" style="display:none;">


            <div class="naviAlert">
                <th:block class="walkmateList" th:unless="${walkmateList == null}">
                    <th:block th:if="${#lists.size(walkmateList)} > 0" th:each="walkmate:${walkmateList}">
                        <h3>산책메이트 신청이 왔어요!</h3>

                        <!-- 신청 총 몇건 인지 띄우는 자바스크립트 -->
                        <sub>총 <span th:text="${#lists.size(walkmateList)}"></span>개</sub>


                        <!-- 신청 화면 반복 -->
                        <th:block th:unless="${walkmate.proposeAlias == null or walkmate.proposeAlias == ''}">
                            <div class="alertSet">
                                <div class="naviInfo">
                                    <!-- th: 신청회원번호 "w_propose" 받아와서 회원번호"u_seq"로 닉네임 불러오기 -->
                                    <p id="naviA3_nick" th:text="${walkmate.proposeAlias}"><b>닉네임</b></p>
                                    <p id="naviCont">
                                        <span th:text="${walkmate.a3Nick}"></span>(<span th:text="${walkmate.a2Species}"></span>)<br>
                                        <span id="naviMessage" th:text="${walkmate.wmContent}">메시지 로딩 중</span>

                                    </p>
                                    <!-- th: 자바스크립트로 해당 객체 접근 후, 닉네임 등등 불러오고
                                         메이트 성사여부"w_res" 판단 후 산책메이트 번호"w_seq" 부여 -->
                                </div>
                            </div>

                            <!-- 거절, 수락 버튼 -->
                            <table class="naviButton" style="width:100%;">
                                <tr style="width:100%;">
                                    <td>
                                        <form action="/walkmate/refuse/" th:attrappend="action=${walkmate.wmSeq}" method="post">
                                            <input type="hidden" name="_method" value="delete">
                                            <input type="submit" class="btnRefuse" value="거절">
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/walkmate/permit/" th:attrappend="action=${walkmate.wmSeq}" method="post">
                                            <input type="hidden" name="_method" value="put">
                                            <input type="submit" class="btnPermit" value="수락">
                                        </form>
                                    </td>
                                </tr>
                            </table>

                        </th:block>
                    </th:block>

                    <th:block th:if="${#lists.size(walkmateList)} == 0">받은 산책메이트 신청이 없습니다</th:block>
                </th:block>
            </div>

            <!-- 알림창 안 보이게 하는 버튼 -->
            <button id="naviX" onclick="toSmall()">x</button>
            <script>
                function toSmall() {
                    document.getElementById("float_container").style.display = 'none';
                    document.getElementById("naviO").style.display = 'block';
                }
            </script>

        </div>
    </navigator>
</th:block>
</body>
</html>

<script>
 (function () {
    calendarMaker($("#calendarForm"), new Date());
})();

var nowDate = new Date();
function calendarMaker(target, date) {
    if (date == null || date == undefined) {
        date = new Date();
    }
    nowDate = date;
    if ($(target).length > 0) {
        var year = nowDate.getFullYear();
        var month = nowDate.getMonth() + 1;
        $(target).empty().append(assembly(year, month));
    } else {
        console.error("custom_calendar Target is empty!!!");
        return;
    }

    var thisMonth = new Date(nowDate.getFullYear(), nowDate.getMonth(), 1);
    var thisLastDay = new Date(nowDate.getFullYear(), nowDate.getMonth() + 1, 0);


    var tag = "<tr>";
    var cnt = 0;
    //빈 공백 만들어주기
    for (i = 0; i < thisMonth.getDay(); i++) {
        tag += "<td></td>";
        cnt++;
    }

    //날짜 채우기
    for (i = 1; i <= thisLastDay.getDate(); i++) {
        if (cnt % 7 == 0) { tag += "<tr>"; }

        tag += "<td>" + i + "</td>";
        cnt++;
        if (cnt % 7 == 0) {
            tag += "</tr>";
        }
    }
    $(target).find("#custom_set_date").append(tag);


    calMoveEvtFn();

    function assembly(year, month) {
        var calendar_html_code =
            "<table class='custom_calendar_table'>" +
            "<colgroup>" +
            "<col style='width:81px'/>" +
            "<col style='width:81px'/>" +
            "<col style='width:81px'/>" +
            "<col style='width:81px'/>" +
            "<col style='width:81px'/>" +
            "<col style='width:81px'/>" +
            "<col style='width:81px'/>" +
            "</colgroup>" +
            "<thead class='cal_date'>" +
            "<th><button type='button' class='prev'><</button></th>" +
            "<th colspan='5'><p><span>" + year + "</span>.<span>" + month + "</span></p></th>" +
            "<th><button type='button' class='next'>></button></th>" +
            "</thead>" +
            "<thead  class='cal_week'>" +
            "<th>MON</th><th>TUE</th><th>WED</th><th>THU</th><th>FRI</th><th>SAT</th><th>SUN</th>" +
            "</thead>" +
            "<tbody id='custom_set_date'>" +
            "</tbody>" +
            "</table>";
        return calendar_html_code;
    }

    function calMoveEvtFn() {

        //전달 클릭
        $(".custom_calendar_table").on("click", ".prev", function () {
            nowDate = new Date(nowDate.getFullYear(), nowDate.getMonth() - 1, nowDate.getDate());
            calendarMaker($(target), nowDate);
        });
        //다음달 클릭
        $(".custom_calendar_table").on("click", ".next", function () {
            nowDate = new Date(nowDate.getFullYear(), nowDate.getMonth() + 1, nowDate.getDate());
            calendarMaker($(target), nowDate);
        });

        //일자 선택 클릭
        $(".custom_calendar_table").on("click", "td", function () {
            resetSchedule();

            $(".custom_calendar_table .select_day").removeClass("select_day");
            $(this).removeClass("select_day").addClass("select_day");

            var nowYear = nowDate.getFullYear();
            var nowMonth = nowDate.getMonth() + 1;
            var nowDay = this.innerHTML;

            // 4인 경우 04로 만들어줌
            if (nowDay < 10) {
                nowDay = '0' + nowDay;
            }

            var now = nowYear + '-' + nowMonth + '-' + nowDay;
            changeSchedule(now);
        });

    }
}

</script>