<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>joinus</title>
    <link rel="stylesheet" th:href="@{/static/css/login/joinUs2.css}">
  </head>
  <body>
    <div class="main_container">
      <header>
        <th:block>
          <h1><img src="/static/img/logo.png" style="width: 110px; margin-left: -20px;"></h1>
        </th:block>
      </header>

      <section>
        <form class="join" action="/joinus" method="post">

          <!-- 아이디 입력-->
          <div class="box">
            <div class="middle" style="padding-top:10px;">아이디</div>
            <div><input type="text" class="input"name="uId" value=""></div>
          </div>

          <!-- 비밀번호 입력-->
          <div class="box">
            <div style="padding-top:10px;">비밀번호</div>
            <div>
              <input type="password" class="input" name="uPw" value="" id="uPw" placeholder="영문, 숫자 2가지 이상 ">
            </div>
          </div>

          <div class="box">
            <div></div>
            <div>
              <input type="password" class="input" id="uPwOK" name="uPwOK" value="" placeholder="비밀번호를 다시 입력해주세요" required><br><br>
              <input type="button" class="search" onclick="confirm()" id="btnConfirm" value="확인">
            </div>
          </div>

          <!-- 비밀번호 확인하는 자바스크립트 -->
          <script>
            var pw1 = document.getElementById("uPw");
            var pw2 = document.getElementById("uPwOK");

            function confirm() {
              if(pw1.value != pw2.value || pw1.value == "" || pw1.value == "") {
                alert("비밀번호가 일치하지 않습니다.");
              }
              else {
                pw2.setCustomValidity("");
                alert("비밀번호가 일치합니다.");
              }
            }
          </script>

          <div class="box">
            <div style="padding-top:10px;">이름</div>
            <div>
              <input type="text" class="input" name="uName" value="">
            </div>
          </div>
          <!-- 닉네임 입력 -->
          <div class="box_nickname">
            <div style="padding-top:10px;">닉네임</div>
            <div>
              <input type="text"  class="input"name="uAlias" value="" placeholder="2~5글자" required>
            </div>
          </div>

          <div class="unchange">+닉네임은 나중에 변경불가합니다</div>

          <!-- 생년월일 입력 -->
          <div class="box">
            <div style="padding-top:10px;">생년월일</div>
            <div>
              <input type="date"  class="input" name="uBirth" value="" placeholder="ex) bobjo@gmail.com" required>
            </div>
          </div>


          <!-- 주소 입력 -->
          <input type="hidden" name="uAddr" id="uAddr">

          <div class="box_address">
            <div style="padding-top:10px;">주소</div>
            <div class="addressbox">
              <input type="text"  class="address1" id="sample6_postcode" placeholder="우편번호">
              <input type="button" class="search" onclick="sample6_execDaumPostcode()" value="주소 찾기">
            </div>
          </div>

          <!-- 주소 검색으로 나타나는 도로명 주소 or 지번 주소 -->
          <div class="add2">
            <input type="text" class="input" id="sample6_address" placeholder="주소">
          </div>

          <div class="add3">
            <input type="text" class="input" id="sample6_detailAddress" placeholder="상세주소">
          </div>




          <!-- 이메일 입력 -->
          <div class="box">
            <div style="padding-top:10px;">이메일</div>
            <div>
              <input type="text" class="input" name="uMail" value="" placeholder="ex) bobjo@gmail.com">
            </div>
          </div>

          <!-- 전화번호 입력 -->
          <div class="box">
            <div style="padding-top:10px;">전화번호</div>
            <div>
              <input type="tel" class="input" name="uTel" value="">
            </div>
          </div>

          <!-- 회원가입 버튼 -->

          <br>
          <input type="submit" class="submit_btn" value="회원가입" onclick="goSubmit()">

        </form>
      </section>


    </div>
   
    <!-- 주소검색 api -->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
      function goSubmit() {
        var addr1 = document.getElementById("sample6_address").value;
        var addr2 = document.getElementById("sample6_detailAddress").value;
        var addr3 = document.getElementById("sample6_postcode").value;

        document.getElementById("uAddr").value = addr3 + addr1 + "," + addr2 ;
      }


      function sample6_execDaumPostcode() {
          new daum.Postcode({
              oncomplete: function(data) {
                  // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
  
                  // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                  // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                  var addr = ''; // 주소 변수
                  var extraAddr = ''; // 참고항목 변수
  
                  //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                  if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                      addr = data.roadAddress;
                  } else { // 사용자가 지번 주소를 선택했을 경우(J)
                      addr = data.jibunAddress;
                  }
  
                  // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                  if(data.userSelectedType === 'R'){
                      // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                      // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                      if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                          extraAddr += data.bname;
                      }
                      // 건물명이 있고, 공동주택일 경우 추가한다.
                      if(data.buildingName !== '' && data.apartment === 'Y'){
                          extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                      }
                  } 
            
                  // 우편번호와 주소 정보를 해당 필드에 넣는다.
                  document.getElementById('sample6_postcode').value = data.zonecode;
                  document.getElementById("sample6_address").value = addr;
                  // 커서를 상세주소 필드로 이동한다.
                  document.getElementById("sample6_detailAddress").focus();
              }
          }).open();
      }
  </script>
  </body>
</html>
