<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

    <link rel="stylesheet" th:href="@{/static/css/login/main2.css}">
</head>

<body>
    <div class="main_container">
        <section>
            <div id="table">
                <h1><img src="/static/img/logo.png" style="width: 200px;"></h1>
                <br>
                <div class="login" th:onclick="|location.href='@{/login}'|">로그인</div>
                <div class="submit" th:onclick="|location.href='@{/joinus}'|">가입하기</div>
            </div>
        </section>

    </div>
</body>

</html>